--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.1+cpu
torchvision==0.16.1+cpu
opencv-python==4.8.1.78
Pillow==10.1.0
pandas==2.0.1
streamlit==1.22.0
streamlit-webrtc==0.47.1
matplotlib==3.7.1
tqdm==4.66.1
PyYAML==5.3.1
seaborn==0.12.2
ultralytics==8.0.225
